@import url(../ClashDisplay_Complete/Fonts/WEB/css/clash-display.css);

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(../ClashDisplay_Complete/Fonts/WEB/css/clash-display.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.tab {
   display: none; 
 }
 
 .tab.active2 {
   display: block; 
 }

nav {
    width: 20%;
    height: 100%;
    background-color: #F8F8FD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

nav div:hover {
   cursor: pointer;
}

nav .top {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    padding-left: 30px;
    padding-top: 30px;
}

nav .logo p {
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
}

nav .top .links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-bottom: 1px solid #CCCCF5;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}

.active {
    color: #4640DE;
    background-color: #E9EBFD;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

nav .dash {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    padding-left: 30px;
}

nav .mess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
}

nav .tog {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: .5em;
}

nav .app {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    gap: .5em;
}

nav .find {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    gap: .5em;
}

nav .browse {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    gap: .5em;
}

nav .pub {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    gap: .5em;
}

nav .top  i {
    color: #7C8493;
    font-size: 24px;
}

nav .top  .active i {
    color: #4640DE;
}

nav .top .links p,
nav .top .setts p {
    color: #7C8493;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
}

nav .top .links .active p,
nav .top .setts .active p {
    color: #4640DE;
}

nav .top .setts {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 30px;
    padding-top: 30px;
}

nav .top .settings {
    display: flex;
    gap: .5em;
    align-items: center;
}

nav .top .help {
    display: flex;
    gap: .5em;
    align-items: center;
}

.setts h5 {
    padding-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #202430;
    opacity: 50%;
}

nav .bottom {
    padding-bottom: 20px;
    padding-left: 20px;
}

nav .bottom .prof {
    display: flex;
    gap: .5em;
}

p#fname {
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    color: #202430;
}

p#mail {
    font-family: "Epilogue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #202430;
    opacity: 50%;
}

.content {
   width: 80%;
   margin-left: 20%;
}

main {
   display: none;
   width: 0%;
}

.saver {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 3em;
   margin-top: 30px;
}

main .right .first {
   border: none !important;
}

main.active2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cont {
    border-bottom: 1px solid #D6DDEB;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .head {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

main h3 {
    font-family: "ClashDisplay-Variable", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
}

main .right {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

main .right a {
    border: 1px solid #CCCCF5;
    padding: 12px 24px;
    color: #4640DE;
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: center;
}

main .right i {
    font-size: 30px;
}

main .greet {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.greet h4 {
    font-family: "ClashDisplay-Variable", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
}

.greet .text p {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    color: #7C8493;
}

.date {
    border: 1px solid #D6DDEB;
    padding: 12px 16px;
}

.date span {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #25324B;
}

.date-range-display {
    display: flex;
    gap: 1em;
    font-size: 20px;
    color: #4640DE;
}

.date-range-form {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }

  label {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    color: #202430;
 }

input {
    background-color: #FFFFFF;
    border: 1px solid #D6DDEB;
    height: 30px;
    padding: 12px 16px;
}

input::placeholder{
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #A8ADB7;
}
  
  button {
    padding: 10px 10px;
    background-color: #4640DE;
    color: white;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: center;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .complex {
    display: flex;
    width: 90%;
    justify-content: space-between;
 }

 .col1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20%;
 }

 .tot-jobs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
    position: relative;
    border: 1px solid #D6DDEB;
    padding: 10px 25px;
 }

 .interviewed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
    position: relative;
    border: 1px solid #D6DDEB;
    padding: 10px 35px 10px 25px;
 }

 .hd {
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #25324B;
    padding-top: 15px;
 }

 .tot-jobs img,
 .interviewed img {
    position: absolute;
    bottom: 0;
    right: 0;
 }

 .num {
    font-family: "Epilogue", sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
 }

 .col2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #D6DDEB;
    padding: 10px 20px;
    padding-left: 3%;
    width: 35%;
 }

 .col2 .md {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
 }

 .col2 .rb {
    display: flex;
    flex-direction: column;
    gap: 1em;
   align-items: flex-start;
 }

 .col2 .rb1 {
    display: flex;
    align-items: center;
    gap: .5em;
 }

 .col2 .txt {
    display: flex;
    flex-direction: column;
    gap: 2px;
 }

 .col2 .txt  p.bold {
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #25324B;
 }

 .col2 .txt p {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #7C8493;
 }

 .col2 .sd {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
    width: 100%;
 }

 .col2 .sd a {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;
    color: #4640DE;
 }

 .col2  i {
    font-size: 20px;
    color: #4640DE;
 }

 .col3 {
    border: 1px solid #D6DDEB;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: .5em;
 }

 .col3 .day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D6DDEB;
    border-bottom: 1px solid #D6DDEB;
    padding: 15px 20px;
    width: 100%;
 }

 .col3 .hd{
    padding: 20px 0px 0 20px;
}

 .col3 .day p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
 }

 .col3 .day span {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
 }

 .arrow {
    display: flex;
    gap: .5em;
 }

 .arrow i {
    font-size: 24px;
 }

 .left-arr {
    color: #202430;
    opacity: 50%;
 }

 .col3 .ten {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: 10px 20px;
 }

 .col3 hr {
    width: 70%;
    height: 1px;
    border: 1px solid #D6DDEB;
 }

 .col3 .elev {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: 10px 20px;
 }

 .col3 .ten p,
 .col3 .elev p,
 .mid p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    color: #7C8493;
 }

.col3 .mid {
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 10px 20px;
 }

.col3 .mid .box {
    display: flex;
    gap: .5em;
    padding: 10px;
    background-color: #E9EBFD;
    border-radius: 8px;
    padding: 10px 20px;
 }

.col3 .mid .bold {
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 25.6px;
   text-align: left;
   color: #25324B;
 }

.col3 .mid p {
   font-family: "Inter", sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 25.6px;
   text-align: left;
   color: #7C8493;
 }

 #fulname {
   font-family: "Epilogue", sans-serif;
   font-size: 18px;
   font-weight: 600;
   line-height: 28.8px;
   text-align: left;
   color: #202430;
 }

#maail {
   font-family: "Epilogue", sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 22.4px;
   text-align: left;
}

 .col3 img {
    height: 48px;
 }

 .recent {
    width: 90%;
    border: 1px solid #D6DDEB;
    margin-bottom: 20px;
 }

 .recent h2 {
    padding: 20px;
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #25324B;
 }

 .body {
    border-top: 1px solid #D6DDEB;
    width: 100%;
    padding: 20px;
 }

 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px;
 }

 .row.have-bg {
    background-color: #F8F8FD;
 }

 .row .main {
    display: flex;
    align-items: center;
    gap: 1em;
 }

 .row .bold {
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #25324B;
 }

 .main .location {
    display: flex;
    align-items: center;
    gap: .5em;
 }

 .main .location p {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #7C8493;
 }

 .row .dat .hed {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    color: #25324B;
 }

 .row .dat .sub {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
 }

 .row .status p {
    font-family: "Epilogue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    padding: 10px;
    color: #FFB836;
    border: 1px solid #FFB836;
    border-radius: 80px;
 }

 .row .status2 p{
    color: #4640DE;
    border: 1px solid #4640DE;
 }

 .row .status3 p{
    color: #FF6550;
    border: 1px solid #FF6550;
 }

  .more-app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    color: #4640DE;
    padding: 10px;
 }

 .more-app p {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: center;
 }

 .more-app i {
    font-size: 24px;
 }


 /*
   Messages Tab
 */

 main.messages {
   gap: 0;
 }

 .chat-tab {
   width: 100%;
   display: flex;
 }

 .chats {
   width: 35%;
   height: auto;
   padding: 30px;
 }

 .chats .search {
   width: 100%;
   position: relative;
}

.search .bx-search {
   position: absolute;
   left: 8%;
   top: 50%;
   font-size: 24px;
   color: #D6DDEB;
   transform: translate(-50%, -50%);
}

.search input {
   width: 100%;
   padding: 12px 16px;
   border: 1px solid #D6DDEB;
   padding-left: 45px;
   height: 50px;
}

.search input:focus {
   border: 1px solid #D6DDEB;
}

.chats .people {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding-top: 10px;
}

.first-p {
   margin-top: 20px;
   background-color: #E9EBFD;
   border-bottom: none !important;
}

.messages .person {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 1em;
   padding: 16px;
   border-bottom: 1px solid #D3D6DB;
}

.person .info {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: .5em;
}

.person .top {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.person .top .fir {
   display: flex;
   gap: .5em;
   align-items: center;
}

.person .top p.bold {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 25.6px;
   text-align: left;
   color: #25324B;
}

.person .top p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: right;
   color: #7C8493;
}

.person .bottom p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: left;
}

 .dm {
   width: 65%;
   border-left: 1px solid #D3D6DB;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 30px;
 }

 .dm .top {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }

 .dm .heading {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #D6DDEB;
   padding-left: 10px;
   padding-right: 20px;
 }

 .dm .person {
   border-bottom: none !important;
 }

 .dm .person .info {
   gap: 5px;
 }

 .heading .images {
   display: flex;
   gap: .5em;
   align-items: center;
 }

 .heading .images i {
   color: #25324B;
   font-size: 21px;
   opacity: 50%;
 }

 .dm .bio {
   width: 90%;
   display: flex;
   flex-direction: column;
   gap: .5em;
   align-items: center;
   margin-top: 50px;
   border-bottom: 1px solid #D6DDEB;
   position: relative;
   padding-bottom: 50px;
 }

 .bio img {
   height: 88px;
 }

 .bio h4 {
   font-family: "ClashDisplay-Variable", sans-serif;
   font-size: 24px;
   font-weight: 600;
   line-height: 28.8px;
   text-align: center;
 }

 .bio p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: center;
   color: #515B6F;
 }

 .bio p a {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: center;
   color: #4640DE;
 }

 .bio .sec span {
   color: #25324B;
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 25.6px;
   text-align: left;
 }

 .bio .sec {
   color: #7C8493;
 }

 .bio .nox {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FFFFFF;
   border: 1px solid #D6DDEB;
   padding: 12px 16px;
   gap: .5em;
   position: absolute;
   bottom: -25px;
 }

 .bio .nox  i {
   font-size: 24px;
   color: #25324B;
 }

 .bio .nox p {
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 25.6px;
   text-align: left;
   color: #25324B;
 }

 .msg-txt {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   gap: 2em;
   width: 90%;
 }

 .msg-txt .jan {
   display: flex;
   gap: .5em;
   width: 80%;
   align-items: flex-start;
   justify-self: flex-start;
 }

 .jan .texts {
   display: flex;
   flex-direction: column;
   gap: .7em;
 }

 .bold {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 25.6px;
   text-align: left;
   color: #25324B;
}

.double {
   display: flex;
   flex-direction: column;
   gap: .5em;
}

.double p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 25.6px;
   text-align: left;
   border: 1px solid #D6DDEB;
   padding: 12px 50px 12px 16px;
}

.time {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: left;
   color: #7C8493;
}

.wrapper {
   display: flex;
   width: 100%;
   justify-content: flex-end;
}

.msg-txt .user {
   display: flex;
   flex-direction: row-reverse;
   justify-self: flex-start;
   justify-content: flex-start;
   width: 80%;
   gap: 1em;
}

.msg-txt .user  .bold {
   text-align: right;
}

.msg-txt .user  .time {
   text-align: right;
}

.message-box {
   width: 90%;
   display: flex;
   align-items: flex-end;
   margin-top: 50px;
   position: relative;
}

.message-box .clip {
   position: absolute;
   left: 15px;
   top: 25%;
   height: 24px;
}

.dm .message-box input {
   border: 1px solid #D6DDEB;
   width: 100%;
   height: 56px;
   padding: 20px 20px 20px 50px;
}

.dm .message-box .rit {
   position: absolute;
   right: 10px;
   top: 15%;
   line-height: 56px;
   display: flex;
   align-items: center;
   gap: 1em;
}

.dm .message-box .rit i {
   font-size: 24px;
   color: #25324B;
   opacity: 50%;
}

.message-box .rit img {
   background-color: #4640DE;
   padding: 10px 30px;
}

.application .new-feat {
   background-color: #F6F6FD;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 10px 30px 30px 30px;
   width: 90%;
}

.application .new-feat .left {
   display: flex;
   gap: 1em;
   align-items: center;
}

.application .new-feat .txt {
   display: flex;
   flex-direction: column;
   gap: .7em;
   align-items: flex-start;
   justify-content: center;
}

.application .new-feat .hd {
   font-family: "Inter", sans-serif;
   font-size: 18px;
   font-weight: 600;
   line-height: 27px;
   text-align: left;
   color: #4640DE;
}

.application .new-feat .sb {
   color: #7C8493;
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: left;
}

.application .sections {
   display: flex;
   gap: 1em;
   width: 100%;
   padding: 20px 0 20px 5%;
   justify-content: flex-start;
   border-bottom: 1px solid #D6DDEB;
   margin-top: 20px;
}

.application .sections p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 25.6px;
   text-align: left;
   color: #25324B;
}

.sections span {
   color: #4640DE !important;
}

.application .man {
   border: none !important;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}

.application .man .head {
   width: 90%;
   border: none;
   display: flex;
   justify-content: space-between;
}

.application .seach {
   display: flex;
   gap: .5em;
   border: 1px solid #D3D6DB;
   justify-content: center;
   align-items: center;
   padding: 12px 16px;
}

.application .filter {
   display: flex;
   gap: .5em;
   border: 1px solid #D3D6DB;
   justify-content: center;
   align-items: center;
   padding: 12px 16px;
}

.application .body {
   border-top: none;
   width: 90%;
   display: flex;
   justify-content: center;
   padding: 0;
   margin-top: 20px;
}

.application .body .table {
   width: 100%;
   padding: 0;
}

.application .tab-head {
   width: 100%;
   padding: 24px;
   border-bottom: 1px solid #D6DDEB;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.application h2 {
   color: #25324B;
   font-family: "Epilogue", sans-serif;
   font-weight: 600;font-size: 20px;
   line-height: 24px;
}

.seach i {
   color: #25324B;
   height: 24px;
}

.seach p,
.filter p {
   font-family: "Inter", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 25.6px;
   color: #25324B;
}

.application .tab-head {
   display: flex;
   gap: 1em;
}

.tab-body {
   display: flex;
   flex-direction: column;
   gap: 1em;
   border-bottom: 1px solid #D6DDEB;
}

.no-2 .company img,
.no-1 .company img,
.no-3 .company img,
.no-4 .company img,
.no-5 .company img
 {
   height: 40px;
}

.one,
.two,
.three {
   display: flex;
   justify-content: flex-start;
}

.one p,
.two p,
.three p {
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 25.6px;
   text-align: left;
   color: #202430;
}

.no-1,
.no-2,
.no-3,
.no-4,
.no-5 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 24px;
}

.two p {
   width: 275px;
}

.one {
   display: flex;
   gap: 2em;
   align-items: center;
   margin-right: 40px;
   justify-content: flex-start;
}

.application .company {
   display: flex;
   align-items: center;
   gap: .5em;
}

.application .company p {
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: left;
   color: #25324B;
}

.two {
   display: flex;
   align-items: center;
   gap: 3em;
}

.two p {
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: left;
   color: #25324B;
}

.three {
   display: flex;
   align-items: center;
   gap: 3em;
}

.three p {
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: left;
   color: #25324B;
}

.application .status1,
.status2,
.status3,
.application .status4,
.application .status5 {
   font-family: "Epilogue", sans-serif;
   font-size: 14px;
   font-weight: 600;
   line-height: 22.4px;
   text-align: left;
   border-radius: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 120px;
   height: 50px;
}

.application .status1 {
   color: #FFB836;
   border: 1px solid #FFB836;
}

.application .status2 {
   color: #56CDAD;
   border: 1px solid #56CDAD;
}

.application .status3 {
   color: #4640DE;
   border: 1px solid #4640DE;
}

.application .status4 {
   color: #FFB836;
   border: 1px solid #FFB836;
}

.application .status5 {
   color: #FF6550;
   border: 1px solid #FF6550;
}

.application .application .have-bg {
   background-color: #F8F8FD;
}

.pagination {
   display: flex;
   justify-self: center;
   align-items: center;
   gap: .5em;
}

.pagination i {
   font-size: 24px;
   color: #25324B;
}

.pagination i.fir {
   opacity: 50%;
}

.pagination .num {
   display: flex;
   gap: .3em;
   align-items: center;
}

.num div {
   padding: 10px 12px;
}

.num p{
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 25.6px;
   text-align: center;
   color: #515B6F;
}

.on-page {
   background-color: #4640DE;
   border-radius: 8px;
   width: 46px;
   height: 46px;
}

.on-page p {
   color: #FFFFFF;
}

.search-box {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-bottom: 1px solid #D6DDEB;
   padding-bottom: 50px;
   margin-top: 30px;
   gap: 1em;
}

.search-box p {
   display: flex;
   justify-content: flex-start;
   width: 90%;
   color: #515B6F;
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
}

.find .search {
   width: 90%;
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 2.71px 4.4px 0px #C0C0C007;
   box-shadow: 0px 2.71px 4.4px 0px #C0C0C007;
   box-shadow: 0px 6.86px 11.12px 0px #C0C0C00A;
    box-shadow: 0px 14px 22.68px 0px #C0C0C00C;
    box-shadow: 0px 28.84px 46.72px 0px #C0C0C00F;
    box-shadow: 0px 79px 128px 0px #C0C0C017;
    padding: 20px;
    border: 1px solid #D6DDEB;
}

.find .search .key {
   display: flex;
   gap: 1em;
   width: 40%;
   position: relative;
   padding: 0 50px 0 0;
   border-right: 1px solid #D6DDEB;
}

.find .search .key  i{
   position: absolute;
   top: 20px;
   left: 15px;
   color: #25324B;
}

.find .key input,
.find .location select {
   border: none;
   border-bottom: 1px solid #D6DDEB;
   padding-bottom: 1em;
   width: 100%;
}

.find .key input::placeholder {
   color: #7C8493;
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   text-align: left;
}

.find .key input:focus {
   border: none;
   outline: none;
   border-bottom: 1px solid #D6DDEB
}

.find button {
   color: #4640DE;
   border: none;
   background: transparent;
   outline: none;
   padding: 12px 24px;
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 700;
   line-height: 26px;
   text-align: center;
   max-width: 30%;
}

.find .have-bg {
   background-color: #4640DE;
   color: #FFFFFF;
}

.find .sch,
.find .loc {
    font-size: 30px;
    color: #25324B;
}

.find .location {
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.custom-select {
   appearance: none;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid #ddd;
   font-size: 16px;
   padding-bottom: 1em;
   color: #25324B;
   cursor: pointer;
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   text-align: left;
}

.custom-select::after {
   content: "";
   background-image: url('../images/chevron-down-regular-24.png');
   position: absolute;
   right: 5px;
   font-size: 12px;
   color: #25324B;
   pointer-events: none;
}

.custom-select:focus {
   outline: none;
   border: none;
   border-bottom: 1px solid #D6DDEB;
}

.custom-select option {
   padding: 10px;
}

.select-wrapper {
   position: relative;
   width: 100%;
   display: inline-block;
}

.find .search-box p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 25.6px;
   text-align: left;
   color: #515B6F;
}

.find .search-box p span {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 25.6px;
   text-align: left;
}

.outputs-cont {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.outputs {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   width: 90%;
}

.outputs .side {
   width: 20%;
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.outputs .output {
   width: 80%;
   padding-left: 4%;
}

.outputs .type {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.type p {
   color: #25324B;
   font-weight: 600;
   font-size: 16px;
   line-height: 25.6px;
   font-family: "Epilogue", sans-serif;
}

.type .titl {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.type .titl i {
   font-size: 20px;
}

li {
   list-style: none;
}

.outputs ul {
   display: flex;
   flex-direction: column;
   gap: .5em;
}

.outputs li {
   display: flex;
   align-items: center;
   gap: 1em;
}

.type li p {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   color: #515B6F;
}

.output .tp {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.output .tp .left {
   display: flex;
   flex-direction: column;
   gap: .5em;
}

.output .tp .left h4 {
   font-weight: 600;
   font-size: 24px;
   line-height: 28.8px;
   font-family: "ClashDisplay-Variable", sans-serif;
   color: #25324B;
}

.output .tp .left p {
   font-weight: 400;
   font-size: 16px;
   font-family: "Epilogue", sans-serif;
   line-height: 25.6px;
   color: #25324B;
}

.output .tp .right {
   display: flex;
   gap: 2em;
}

.tp .right .sort-inner {
   display: flex;
   gap: .5em;
   align-items: center;
}

.tp .right .sort {
   display: flex;
   gap: .5em;
}

.tp .sort .light {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   text-align: right;
   color: #7C8493;
}

.tp .sort p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 25.6px;
   color: #25324B;
}

.tp .sort i {
   font-size: 17px;
   color: #4640DE;
}

.tp .right .img {
   display: flex;
   gap: 1em;
}

.applies {
   width: 100%;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.apply {
   background-color: #FFFFFF;
   border: 1px solid #D6DDEB;
   padding: 24px;
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.apply .comp-info {
   display: flex;
   align-items: flex-start;
   gap: 1em;
}

.apply .yaps {
   display: flex;
   flex-direction: column;
   gap: .5em;
}

.apply .yaps h2{
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   color: #25324B;
}

.apply .yaps .locate {
   display: flex;
   gap: .5em;
   align-items: center;
}

.apply .yaps .locate p {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   color: #7C8493;
}

.apply .yaps .label {
   display: flex;
   gap: .7em;
}

.yaps .label .full {
   background-color: #56CDAD1A;
   color: #56CDAD;
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 14px;
   border-radius: 80px;
   height: 34px;
   width: 83px;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 22.4px;
}

.yaps .label  hr {
   border: 1px solid #D6DDEB;
}

.find  .mark {
   border: 1px solid #FFB836;
   color: #FFB836;
   padding: 6px 10px;
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 22.4px;
   border-radius: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.find .des {
   border: 1px solid #4640DE;
   color: #4640DE;
   padding: 6px 10px;
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 22.4px;
   border-radius: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.buttons {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.buttons a {
   background-color: #4640DE;
   padding: 12px 24px;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Epilogue", sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 25.6px;
   text-align: center;
}

.buttons p {
   font-weight: 600;
   font-family: "Epilogue", sans-serif;
   font-size: 14px;
   line-height: 22.4px;
   text-align: center;
   color: #000000;
}

.buttons p span {
   font-weight: 400;
   font-family: "Epilogue", sans-serif;
   font-size: 14px;
   line-height: 22.4px;
   text-align: center;
   color: #7C8493;
}

.outputs .spt {
   display: none;
}

.outputs .spt,
.outputs .deft {
   cursor: pointer;
}

.applies-box {
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      margin-top: 20px;
}

.applies-box .box {
   display: flex;
   flex-direction: column;
   gap: .7em;
   border: 1px solid #D6DDEB;
   padding: 24px;
}

.applies-box .box .head {
   display: flex;
   align-items: center;
}

.content main .applies-box button {
   max-width: 93px;
   height: 34px;
   background-color: #56CDAD1A;
   color: #56CDAD;
   font-size: 14px;
   font-weight: 600;
   font-family: "Epilogue", sans-serif;
   line-height: 22.4px;
   padding: 7px 10px;
   border-radius: 80px;
}

.content main .applies-box .box:nth-child(4) button {
   background-color: #FF65501A;
   color: #FF6550;
}

.applies-box .box  .down {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.applies-box p {
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 18px;
   line-height: 28.8px;
   color: #25324B;
}  

.applies-box .loc {
   display: flex;
   gap: .3em;
   align-items: center;
}

.applies-box .loc p {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 25.6px;
   color: #7C8493;
}

.applies-box .d2 {
   display: flex;
   gap:.5em;
}

.applies-box .d2 p {
   font-weight: 400;
   line-height: 22.4px;
   font-size: 14px;
   text-align: left;
   font-family: "Epilogue", sans-serif;
}

.biz {
   color: #56CDAD !important;
   border: 1px solid #56CDAD;
   padding: 6px 10px;
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 22.4px;
   border-radius: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.applies-box .stats {
   display: flex;
   flex-direction: column;
   gap: .5em;
}

.applies-box .stats p {
   font-size: 14px;
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   line-height: 22.4px;
   color: #000000;
}


.applies-box .stats p span {
   color: #25324B;
   font-weight: 400;
}

.app-details .cont .head{
   align-items: center;
}

.app-details .cont .head .title {
   display: flex;
   gap: .5em;
}

.app-details .cont .head .title i {
   font-size: 40px;
}

.app-details .job {
   width: 90%;
   background-color: #F8F8FD;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 240px;
}

.app-details .card {
   width: 90%;
   background-color: #FFFFFF;
   border: 1px solid #D6DDEB;
   display: flex;
   padding: 24px;
   justify-content: space-between;
}

.app-details .card .left {
   display: flex;
   align-items: center;
   gap: 1em;
}

.app-details .left .tets {
   display: flex;
   flex-direction: column;
   gap: .5em;
}

.app-details .left .loc {
   display: flex;
   align-items: center;
   gap: .5em;
}

.loc p {
   color: #515B6F;
   font-family: "Epilogue", sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 32px;
}

.app-details .card .right img {
   border-right: 1px solid #D6DDEB;
   padding-right: 30px;
}

.app-details .card .right a {
   background-color: #4640DE;
   border: none;
   padding: 14px 56px;
   color: #FFFFFF;
}

.app-details .saver {
   border-bottom: 1px solid #D6DDEB;
}


.app-details  .middle{
   width: 90%;
   display: flex;
   flex-direction: row-reverse;
   padding-bottom: 30px;
   margin-top: 40px;
   gap: 4em;
}

.middle .nom {
   width: 23%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 2em;
}

.middle .nom .sec1 {
   display: flex;
   flex-direction: column;
   gap: 1em;
   width: 100%;
   align-items: flex-end;
   border-bottom: 1px solid #D6DDEB;
   padding-bottom: 30px;
}

.middle .nom h4 {
   font-family: "ClashDisplay-Variable";
   font-size: 24px;
   font-weight: 600;
   line-height: 28.8px;
   text-align: left;
   width: 100%;
}

.middle .nom .stats {
   background-color: #F8F8FD;
   padding: 16px;
   display: flex;
   flex-direction: column;
   gap: .5em;
   width: 100%;
}

.middle .nom .stats p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 25.6px;
   color: #25324B;
}

.middle .nom .stats p span {
   color: #7C8493;
   font-size: 14px;
   font-weight: 400;
   line-height: 25.6px;
}

.tablea {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: .7em;
}

.tablea .app-bf {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.tablea .app-bf p:first-child {
   color: #515B6F;
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
}

.tablea .app-bf p:last-child {
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 25.6px;
   color: #25324B;
}

.middle .nom .sec2 {
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding-bottom: 30px;
   border-bottom: 1px solid #D6DDEB;
   width: 100%;
}

.middle .nom .labes {
   display: flex;
   flex-wrap: wrap;
   gap: .6em;
}

p.mark-f {
   background-color: #EB85331A;
   color: #FFB836;
   padding: 10px;
   border-radius: 80px;
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 22.4px;
}

p.des-f {
   background-color: #56CDAD1A;
   color: #56CDAD;
   border-radius: 80px;
   padding: 10px;
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 22.4px;
}

.middle .nom .sec3 {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.sec3 p {
   background-color: #F8F8FD;
   padding: 4px 12px;
   font-family: 400;
   font-size: 16px;
   line-height: 25.6px;
   color: #4640DE;
   font-family: "Epilogue", sans-serif;
}

.middle .aside {
   width: 75%;
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.middle .aside .infor {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.middle .aside .infor  h4 {
   font-family: "ClashDisplay-Variable", sans-serif;
   font-weight: 600;
   font-size: 24px;
   line-height: 28.8px;
   color: #25324B;
}

.middle .aside .infor p {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   color: #515B6F;
}

.middle .aside .infor .down {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.middle .aside .fle {
   display: flex;
   gap: 1em;
   align-items: center;
   justify-content: flex-start;
}

.perks {
   display: flex;
   flex-direction: column;
   gap: 2em;
   width: 100%;
   align-items: center;
}

.perks .perk-head {
   display: flex;
   flex-direction: column;
   gap: .5em;
   align-items: flex-start;
   justify-content: center;
   width: 90%;
}

.perks .perk-head h3 {
   font-family: "ClashDisplay-Variable", sans-serif;
   font-weight: 600;
   font-size: 32px;
   line-height: 38.4px;
   color: #25324B;
}

.perks .perk-head p {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   color: #515B6F;
}

.perks .body {
   border-top: none;
   width: 90%;
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   gap: 3em;
   justify-content: flex-start;
}

.perks .body .benefit {
   max-width: 252px;
   display: flex;
   flex-direction: column;
   gap: 1em;
   align-items: flex-start;
}

.perks .body .benefit .bold {
   font-family: "ClashDisplay-Variable", sans-serif;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   color: #25324B;
}

.perks .body .benefit p {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   color: #515B6F;
}

.foot {
   width: 90%;
   display: flex;
   justify-content: space-between;
   gap: .5em;
   margin-top: 30px;
}

.foot .left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1em;
   width: 50%;
}

.foot .left .top {
   display: flex;
   align-items: center;
   gap: 1em;
}

.foot .left .bottom p {
   font-family: "Epilogue", sans-serif;
   color: #515B6F;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
}

.foot .left .top .text {
   display: flex;
   flex-direction: column;
   gap: .5em;
}

.foot .left .top h3 {
   font-family: "ClashDisplay-Variable", sans-serif;
   font-weight: 600;
   font-size: 32px;
   line-height: 38.4px;
   color: #25324B;
}

.foot .left .link {
   display: flex;
   gap: .5em;
   color: #4640DE;
}

.foot .left .link p {
   color: inherit;
   font-family: "Epilogue", sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 25.6px;
   text-align: left;
}

.foot .left .link i {
   color: inherit;
   font-size: 24px;
}

.foot .right {
   display: flex;
   gap: .5em;
   width: 50%;
   justify-content: flex-end;
   align-items: center;
}

.foot .right .db-img {
   display: flex;
   flex-direction: column;
   gap: .5em;
}

.browse-tab {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding-bottom: 30px;
}

.browse-tab .search {
   width: 90%;
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 2.71px 4.4px 0px #C0C0C007;
   box-shadow: 0px 2.71px 4.4px 0px #C0C0C007;
   box-shadow: 0px 6.86px 11.12px 0px #C0C0C00A;
    box-shadow: 0px 14px 22.68px 0px #C0C0C00C;
    box-shadow: 0px 28.84px 46.72px 0px #C0C0C00F;
    box-shadow: 0px 79px 128px 0px #C0C0C017;
    padding: 20px;
    border: 1px solid #D6DDEB;
}

.browse-tab .search .key {
   display: flex;
   gap: 1em;
   width: 40%;
   position: relative;
   padding: 0 50px 0 0;
   border-right: 1px solid #D6DDEB;
}

.browse-tab .search .key i {
   position: absolute;
   top: 20px;
   left: 15px;
   color: #25324B;
}

.browse-tab .key input,
.browse-tab .location select {
   border: none;
   border-bottom: 1px solid #D6DDEB;
   padding-bottom: 1em;
   width: 100%;
}

.browse-tab .key input:focus {
   border: none;
   outline: none;
   border-bottom: 1px solid #D6DDEB;
}

.browse-tab button {
   color: #4640DE;
   border: none;
   background: transparent;
   outline: none;
   padding: 12px 24px;
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 700;
   line-height: 26px;
   text-align: center;
   max-width: 30%;
}

.browse-tab .have-bg {
   background-color: #4640DE;
   color: #FFFFFF;
}

.browse-tab .sch,
.browse-tab .loc {
   font-size: 30px;
   color: #25324B;
}

.browse-tab .location {
   display: flex;
   gap: .5em;
   justify-content: center;
   align-items: center;
   width: 40%;
}

.browse-tab .search-box p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   text-align: left;
   font-weight: 600;
   line-height: 25.6px;
   color: #515B6F;
}

.browse-main {
   width: 90%;
   display: flex;
   justify-self: center;
   height: 100vh;
   gap: 2em;
   margin-top: 30px;
}

.aside-browse {
   width: 20%;
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.industr {
   display: flex;
   flex-direction: column;
   gap: 1em;
   align-items: flex-start;
}

.industr h4 {
   font-family: "Epilogue", sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #25324B;
}

.fle {
   display: flex;
   gap: 1em;
   justify-content: flex-start;
}

.industr .fle p {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   color: #25324B;
}

.size {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.size h4 {
   font-family: "Epilogue", sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #25324B;
}

.size p {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   color: #515B6F;
}

.browse-comp {
   width: 78%;
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.browse-comp .top {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.browse-comp .top .heads {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: .5em;
}

.browse-comp .top .heads h3 {
   font-family: "ClashDisplay-Variable", sans-serif;
   font-weight: 600;
   font-size: 32px;
   line-height: 38.4px;
   color: #25324B;
}

.browse-comp .top .heads p {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 25.6px;
   color: #25324B;
}

.browse-comp .other {
   display: flex;
   gap: .5em;
   align-items: center;
}

.browse-comp .other .rele {
   display: flex;
   gap: .5em;
   align-items: center;
}

.browse-comp .other .sort p:first-child {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   line-height: 25.6px;
   font-weight: 400;
   display: flex;
   gap: .5em;
   color: #7C8493;
}

.browse-comp .other .sort .relev {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 25.6px;
   color: #25324B;
}

.browse-comp .other .sort .relev-i {
   font-size: 18px;
   color: #4640DE;
   padding-right: 20px;
   border-right: 1px solid #D6DDEB;
}

.browse-comp .other .sort {
   display: flex;
   align-items: center;
}

.browse-comp .other .imgs {
   display: flex;
   align-items: center;
   gap: 1em;
}

.browse-comp .bottom {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2em;
}

.browse-comp .bottom .box {
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding: 24px;
   border: 1px solid #D6DDEB;
}

.browse-comp .box .top{
   display: flex;
   align-items: flex-start;
}

.browse-comp .box .top p {
   padding: 4px 12px;
   background-color: #F8F8FD;
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 25.6px;
   color: #4640DE;
}

.browse-comp .box .top .comp {
   display: flex;
   flex-direction: column;
   gap: 1em;
   align-items: flex-start;
}

.browse-comp .box .top .comp p {
   font-family: "ClashDisplay-Variable", sans-serif;
   font-weight: 600;
   font-size: 24px;
   line-height: 28.8px;
   color: #25324B;
   background-color: transparent;
   padding: 0;
}

.browse-comp .box p {
   font-family: "Epilogue", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 28.8px;
}

.browse-comp .ovals {
   display: flex;
   gap: 1em;
}

.pay {
   background-color: #4640DE1A;
   color: #4640DE !important;
   border: none;
   padding: 6px 12px;
}

.block {
   border: 1px solid #FFB836;
   color: #FFB836 !important;
}

.browse-comp .pagination {
   display: flex;
   justify-content: center;
   padding-bottom: 10px;
}


.browse-tab {
   display: none;
}

/*
   DARK MODE
*/

.container.dark nav {
   background-color: #202430;
}

.container.dark nav {
   background-color: #202430;
}

.container.dark nav .logo {
   color: #FFFFFF;
}

.container.dark nav .active{
   background-color: #FFFFFF;
}

.container.dark nav .links .active p {
   color: #4640DE;
}

.container.dark nav .links p,
.container.dark nav .setts p,
.container.dark nav .bottom p,
.container.dark nav .bottom p#fulname   {
   color: #FFFFFF;
}