@import url(../ClashDisplay_Complete/Fonts/WEB/css/clash-display.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8FD;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 7em;
}

.container header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .together {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

nav .logo {
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

nav .logo h3 {
    color: #25324B;
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav ul > li > a {
    text-decoration: none;
    color: #515B6F;
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
}

.btn {
    display: flex;
    gap: 1em;
}

.btn button {
    color: #4640DE;
    border: none;
    background: transparent;
    outline: none;
    border-right: 1px solid #D6DDEB;
    padding: 12px 24px;
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.have-bg {
    background-color: #4640DE !important;
    color: #FFFFFF !important;
    border: none;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.hero h1 {
    font-family: "Clash Display Variable", sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 79.2px;
    text-align: left;
    color: #25324B;
}

.hero img {
    width: 400px;
}

.hero .top {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero h1 span {
    color: #26A4FF;
}

.hero p {
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #515B6F;
}

.bottom .search {
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0px 2.71px 4.4px 0px #C0C0C007;
    box-shadow: 0px 2.71px 4.4px 0px #C0C0C007;
    box-shadow: 0px 6.86px 11.12px 0px #C0C0C00A;
    box-shadow: 0px 14px 22.68px 0px #C0C0C00C;
    box-shadow: 0px 28.84px 46.72px 0px #C0C0C00F;
    box-shadow: 0px 79px 128px 0px #C0C0C017;
    padding: 16px;
}

.bottom .search .key {
    display: flex;
    gap: .5em;
}

.key input,
.location select {
    border: none;
    border-bottom: 1px solid #D6DDEB;
    padding-bottom: .5em;
}

.key input::placeholder {
    color: #7C8493;
    font-weight: 400;
    font-size: 16px;
}

.hero button {
    color: #4640DE;
    border: none;
    background: transparent;
    outline: none;
    border-right: 1px solid #D6DDEB;
    padding: 12px 24px;
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}