@import url(../ClashDisplay_Complete/Fonts/WEB/css/clash-display.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8FD;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8FD;
    gap: 5em;
}

.container header {
    width: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7em;
}

.container header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .together {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

nav .logo {
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

nav .logo h3 {
    color: #25324B;
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav ul > li > a {
    text-decoration: none;
    color: #515B6F;
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
}

.btn {
    display: flex;
    gap: 1em;
}

.btn button {
    color: #4640DE;
    border: none;
    background: transparent;
    outline: none;
    border-right: 1px solid #D6DDEB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.have-bg {
    background-color: #4640DE !important;
    color: #FFFFFF !important;
    border: none;
}

.hero {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3em;
}

.hero h1 {
    font-family: "ClashDisplay-Variable", sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 79.2px;
    text-align: left;
    color: #25324B;
}

.hero img {
    width: 400px;
}

.hero .top {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 2em;
}

.hero h1 span {
    color: #26A4FF;
}

.hero p {
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #515B6F;
}

.hero .bottom {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bottom .search {
    width: 75%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0px 2.71px 4.4px 0px #C0C0C007;
    box-shadow: 0px 2.71px 4.4px 0px #C0C0C007;
    box-shadow: 0px 6.86px 11.12px 0px #C0C0C00A;
    box-shadow: 0px 14px 22.68px 0px #C0C0C00C;
    box-shadow: 0px 28.84px 46.72px 0px #C0C0C00F;
    box-shadow: 0px 79px 128px 0px #C0C0C017;
    padding: 20px;
}

.bottom .search .key {
    display: flex;
    gap: .5em;
}

.key input,
.location select {
    border: none;
    border-bottom: 1px solid #D6DDEB;
    padding-bottom: 1em;
    width: 280px;
}

.key input::placeholder {
    color: #7C8493;
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
}

.key input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #D6DDEB;
}

.hero button {
    color: #4640DE;
    border: none;
    background: transparent;
    outline: none;
    padding: 12px 24px;
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.hero .sch,
.hero .loc {
    font-size: 30px;
}

.hero .location {
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

.custom-select {
    appearance: none;
    background-color: transparent; 
    border: none;
    border-bottom: 1px solid #ddd; 
    font-size: 16px;
    padding-bottom: 1em;
    color: #25324B; 
    cursor: pointer;
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    text-align: left;
  }
  
  .custom-select::after {
    content: "";
    background-image: url('../images/chevron-down-regular-24.png');
    position: absolute;
    right: 5px;
    font-size: 12px;
    color: #25324B;
    pointer-events: none;
  }

  .custom-select:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #D6DDEB;
  }

  .custom-select option {
    padding: 10px;
  }

  .select-wrapper {
    position: relative;
    display: inline-block;
  }

  .bottom p {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #202430;
  }

  .bottom p span {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;
  }
  
  main {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-top: 50px;
    position: relative;
  }

  .illustr1 {
    position: absolute;
    top: -150px;
    right: 0;
    height: 200px;
    width: 30%;
  }

  main .help {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
  }

  .help p.head {
    font-family: "Epilogue";
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    color: #202430;
  }

  .help p {
    font-family: "Epilogue";
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #202430;
  }

  .help .companies {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .help .companies img {
    width: auto;
    height: 25px;
  }

  .explore {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
  }

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

.head h2 {
    font-family: "ClashDisplay-Variable", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 53px;
    text-align: left;
  }

.head h2 span {
    font-family: "ClashDisplay-Variable";
    font-size: 48px;
    font-weight: 600;
    line-height: 53px;
    text-align: left;
    color: #26A4FF;
  }

.head p {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #4640DE;
  }

  .explore .boxes {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
  }

  .explore .boxes .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .explore .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    border: 1px solid #D6DDEB; 
    background-color: #FFFFFF;
    height: 214px;
    width: 23%;
    padding-left: 2%;
 }

 .explore .box.hover {
    background-color: #4640DE;
    color: white !important;
 }

 .explore .box.hover .sub {
    color: #FFFFFF;
    font-family: "Epilogue";
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
 }

 .box p {
    font-family: "ClashDisplay-Variable";
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
 }

 .explore .box .sub {
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    color: #7C8493;
    font-family: "Epilogue";
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
 }

 .cta {
    width: 80%;
    background-color: #4640DE;
    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    height: 414px;
    margin-bottom: 100px;
 }

 .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    padding-left: 40px;
 }

 .right {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: -1;
 }

 .cta .left h2 {
    font-family: "ClashDisplay-Variable";
    font-size: 48px;
    font-weight: 600;
    line-height: 52.8px;
    text-align: left;
    color: #FFFFFF;
 }

 .left p {
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    color: #FFFFFF;
 }

 .cta .left button {
    background-color: #FFFFFF;
    color: #4640DE;
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: center;
    padding: 15px 30px;
    border: none;
    outline: none;
 }

 .cta .right {
    width: 50%;
 }

 .right img {
    position: absolute;
    bottom: -207px;
    object-position: center;
    height: 344px;
    width: 100%;
    right: 20px;
    z-index: 100;
 }

 .featured {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 100px;
 }

 .featured .box {
    max-width: 287px;
    border: 1px solid #D6DDEB;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
 }

 .featured .box button {
    background: transparent;
    border: 1px solid #4640DE;
    color: #4640DE;
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    padding: 10px 20px;
 }

 .featured .down {
    display: flex;
    flex-direction: column;
    gap: 1em;
 }

.d1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

 .d1 p {
    font-family: "Epilogue";
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    color: #25324B;
 }

 .d1 .loc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
 }

 .d1 .loc img {
    height: 5px;
 }

 .d1 .loc p {
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
 }

 .featured p.sub {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #7C8493;
 }

.featured  .d2 {
    display: flex;
    gap: .5em;
 }

 .d2 p {
    font-family: "Epilogue";
    font-size: 14px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    background-color: #EB85331A;
    border-radius: 80px;
    padding: 9px 20px;
 }

 .d2 p:last-child {
    background-color: #56CDAD1A;
 }

.boxes {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
  }

 .boxes .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .featured .box p.mark {
    background-color: #EB85331A;
  }

  .featured .box p.des {
    background-color: #56CDAD1A;
  }

  .featured .box p.biz {
    background-color: #4640DE1A;
  }

  .featured .box p.tech {
    background-color: #FF65501A;
  }

  footer {
    width: 100%;
    background-color: #F8F8FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
  }

.illustr2 {
    position: absolute;
    left: -350px;
    top: -250px;
    rotate: calc(360deg);
}

  .latest {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .latest .column {
    display: flex;
    gap: 2em;
    width: 100%;
  }

  .latest .boxes {
    width: 50%;
  }

  .latest .box {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 44px;
    gap: 2em;
    border-radius: 15px;
  }

  .loc {
    display: flex;
  }

  .label {
    display: flex;
    gap: .5em;
    margin-top: 5px;
  }

  .latest .title {
    font-family: "Epilogue";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }

  .latest .content {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  .loc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
  }

  .loc p {
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
  }

  .loc img {
    height: 5px;
  }

  .latest .label p {
    font-family: "Epilogue";
    font-size: 14px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    padding: 8px 16px;
    border-radius: 80px;
  }

  .latest .label p.full {
    color: #56CDAD;
    background-color: #56CDAD1A;
  }

  .latest .label p.mark {
    color: #FFB836;
    border: 1px solid #FFB836;
    background-color: transparent;
  }

  .latest .label p.des {
    color: #4640DE;
    border: 1px solid #4640DE;
    background: transparent;
  }

  .latest hr {
    border: 1px solid #D6DDEB;
  }

  .footer {
    background-color: #202430;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 70px 0;
  }

  .foot {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .foot .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .foot .abt {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .foot .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    color: #FFFFFF;
    font-family: "Red Hat Display";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  .foot .abt p {
    color: #D6DDEB;
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
  }

  .foot .main {
    color: #FFFFFF;
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
  }

  .foot ul li a,
  .notify p {
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #D6DDEB;
  }

  .foot .notify {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .notify form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
  }

  .notify input {
    padding: 17px;
  }

  .notify input::placeholder {
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #A8ADB7;
  }

  .notify button {
    background-color: #4640DE;
    padding: 12px 24px;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-family: "Epilogue";
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: center;
  }

  footer .bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #FFFFFF;
    opacity: 10%;
  }

  ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



@media (max-width: 450px) {
  nav ul {
    display: none;
  }

  .btn {
    display: none;
  }

  .hero h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .hero img {
    width: 250px;
  }

  .head h2,
  .head h2 span {
    font-size: 28px;
    line-height: 33px;
  }

  .head p {
    gap: .2em;
    font-size: 14px;
    line-height: 24px;
  }

  .explore .boxes .row {
    flex-direction: column;
    gap: 1em;
  }

  .explore .box {
    width: 90%;
    padding-left: 15%;
  }
}

@media (max-width: 1100px)  {
  .key input,
  .location select {
    width: 30px;
  }

  .key input::placeholder,
  .custom-select  {
    font-size: 12px;
    line-height: 20px;
  }
  .hero button {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 22px;
  }
}

@media (max-width: 1300px)  {
  .key input,
  .location select {
    width: 180px;
  }
}